<div class="container">
	<div class="row">
	  <div class="logo col"><%= image_tag("logo-1024.png", :class => "img-responsive") %></div>
  </div> <!-- end row -->
  <div class="row">
	<div class="call-to-action">SEND SMS to 201-9-PROJ-GR</div>
  </div>
    <%= form_for @message, html: {role: "form"} do |f| %>
      <div class="row">
        <div class="input-group">
          <%= f.text_field :description, :class => "form-control", :placeholder => " Compose message. 140-character limit. Include a #" %>
          <span class="input-group-btn">
          <%= f.submit "Submit", class: "btn btn-default" %>
        </span>
        </div>
      </div>
    
    <% end %>

    <%= render 'hashtag'%>
</div>

